<article>
  <div>
    <p>{{title}}</p>
    <p>{{post_text}}</p>
  </div>
  <div>
    <p>Posted by
      {{user.username}}
      on
      {{format_date created_at}}
      |
      <span>Comments {{comments.length}}</span></p>

  </div>
</article>