<article class='row'>
  <div class='dashboard-post'>
    <p class='bard-title post-title'>
      <a href='/post/{{id}}'>{{title}}</a>
    </p>
    <div class='post-body'>
      <p class='post-content'>{{post_text}}</p>
    </div>
  </div>
  <div class=''>
    <p class='post-author'>Posted by
      <span class='post-username'>{{user.username}}</span>
      on
      {{format_date created_at}}
      |
      <a href='/post/{{id}}' class="link-primary"> {{comments.length}} Comments</a></p>

  </div>
</article>